.footer {
  display: flex;
  max-width: 880px;
  width: 100%;
  min-height: 18px;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: 282px;
    min-height: 14px;
  }
}